* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF; /* Blue */
    }
}
@media print
{
    body {
        font-size: 4pt;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
    @page {
        size: landscape;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
}
body>main>div {
    height: 100vh;
    width: 100%;
    border: green 1px solid;
}
#main-content {
    overflow: scroll;
}
#top-nav {
    height: auto;
}
#top-nav>div {
    display: inline-block;
}
