<div class="dropdown">
    <input class="hidden_model_picker" type="hidden" name="{{ widget.name }}" id="{{ widget.attrs.id }}" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}>
    <input class="dropbtn model_picker" type="text" id="{{ widget.attrs.id }}-search-wider" autocomplete="off"
           data-search-field="wider_search" placeholder="{{ widget.attrs.placeholder }}"
           data-search-result-element-id="{{ widget.attrs.id }}-search-results-div"
           data-selected-div="{{ widget.attrs.id }}-selected-div"
{#           data-search-template-id=""#}
{#           data-search-no-results-template-id=""#}
{#           data-selected-template-id=""#}
           {% include "django/forms/widgets/attrs.html" %}>
    <div class="dropdown-content" id="{{ widget.attrs.id }}-search-results-div"></div>
    <div class="dropdown-selected" id="{{ widget.attrs.id }}-selected-div"></div>
</div>