{% extends "meal_planning/recipe_base.html" %}
{% load static %}

{% block title %}Meal Planning : Ingredient{% endblock %}

{% block content %}
<div>Recipe: {{ object.recipe }}</div>
<div>Name: {{ object.name }}</div>
<ul>
{% for ingredient in object.ingredients.all %}
    <li>{{ ingredient.name }} {{ ingredient.unit_amount }} {{ ingredient.unit_size }}</li>
{% endfor %}
</ul>
<ul>
    <li><a href="{% url "meal_planning:recipe_ingredient_group_update" recipe_pk=recipe_pk pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "meal_planning:recipe_ingredient_group_delete" recipe_pk=recipe_pk pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "meal_planning:recipe_detail"  pk=recipe_pk %}">Back to recipe</a></li>
</ul>
{% endblock %}
