{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load fractions %}

{% block title %}Meal Planning : Recipe{% endblock %}

{% block styles %}
<style>
#priced_ingredients {
    border-collapse: collapse;
}
#priced_ingredients th {
    background-color: lightgray;
    border: black solid 1px;
}
#priced_ingredients td {
    border: black solid 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
</style>

{% endblock %}

{% block content %}
<div>Recipe: {{ object.name }}</div>
<div>Description: {{ object.description }}</div>
<div>Goes with: {{ object.goes_with }}</div>
<div>
<form method="get">
    <label for="as_of_date_select">Limit pricing up to:</label>
    <select name="as_of_date" id="as_of_date_select">
        <option value="">Current</option>
        {% for date_label, date_option in date_options.items %}
        <option value="{{ date_option|date:"Y-m-d" }}">{{ date_label }} ({{ date_option }})</option>
        {% endfor %}
    </select>
    <button type="submit" value="a" name="as_of_date_form" id="c">Limit Pricing</button>
</form>
<table id="priced_ingredients">
<thead>
<tr>
    <th>Ingredient</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Price per unit</th>
    <th>Price per purchase unit</th>
    <th>Order Date</th>
</tr>
</thead>
<tbody>
{% for ig_name, ingredient_group_detail in ingredient_groups_with_price.items %}
    <tr>
        <td colspan="6">
            <a href="{% url "meal_planning:recipe_ingredient_group_detail" recipe_pk=object.id pk=ingredient_group_detail.ingredient_group.id %}">{{ ig_name }}</a>
            Group Total: ${{ ingredient_group_detail.total|floatformat:2|intcomma }}
        </td>
    </tr>
    {% for ingredient in ingredient_group_detail.ingredients %}
        <tr>
            <td><a href="{% url "meal_planning:recipe_ingredient_detail" recipe_pk=object.id pk=ingredient.id %}">{{ ingredient.name }}</a></td>
            <td>{% display_fraction ingredient.unit_amount limit_denominator=16 coerce_thirds=True %} {{ ingredient.unit_size }}</td>
            {% if ingredient.no_pricing_data %}
                <td style="color: gray;" colspan="4">&lt;No pricing data available&gt;</td>
            {% else %}
                <td>${{ ingredient.ingredient_price|floatformat:2|intcomma }}</td>
                <td>${{ ingredient.per_unit_price|floatformat:2|intcomma }} per {{ ingredient.unit_size }}</td>
                <td>${{ ingredient.per_original_unit_price|floatformat:2|intcomma }} per {{ ingredient.original_unit_size }}</td>
                <td>{{ ingredient.order_date }}</td>
            {% endif %}
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
<div>Total Price: ${{ total_price|floatformat:2|intcomma }}</div>
</div>
<div>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="duplicate" value="duplicate">Duplicate</button>
</form>
</div>
<div>
<form method="post">
    {% csrf_token %}
    <label for="base_multiplier">Multiplier</label>
    <input type="number" name="base_multiplier" id="base_multiplier" min="1" max="100" step="0.1" />
    <button type="submit" name="multiply" value="multiply">Add Multiplier</button>
</form>
</div>
<ul>
    <li><a href="{% url "meal_planning:recipe_ingredient_create" recipe_pk=object.pk %}">Add ingredient</a></li>
    <li><a href="{% url "meal_planning:recipe_ingredient_group_create" recipe_pk=object.pk %}">Add ingredient group</a></li>
    <li><a href="{% url "meal_planning:recipe_update" pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "meal_planning:recipe_delete" pk=object.pk %}">Delete</a></li>
    {# TODO: Add Multiplier: Should be able to set a base multiplier then add a per-ingredient adjustment.  Reason: Adjusting the base recipe would have all the multipliers automagically adjust.  #}
    <li><a href="{% url "meal_planning:recipe_list" %}">Recipe List</a></li>
</ul>
{% endblock %}
