{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Category{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:category_list" %}">Category list</a></div>
{% endblock %}

{% block content %}
Name: {{ object.name }}
<ul>
    <li><a href="{% url "inventory:category_update" pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "inventory:category_delete" pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "inventory:category_list" %}">Category List</a></li>
</ul>
{% endblock %}
