{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Home{% endblock %}

{% block content %}
<ul>
<li><a href="{% url "inventory:category_list" %}">Categories</a></li>
<li><a href="{% url "inventory:source_list" %}">Sources</a></li>
<li><a href="{% url "inventory:item_list" %}">Items</a></li>
<li><a href="{% url "inventory:sourceitem_list" %}">Source Items</a></li>
<li><a href="{% url "inventory:unitsize_list" %}">Unit Sizes</a></li>
<li><a href="{% url "inventory:order_list" %}">Orders</a></li>
</ul>
{% endblock %}
