{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Home{% endblock %}

{% block content %}
<ul>
<li><a href="{% url "inventory:conversion_list" %}">Conversion</a></li>
<li><a href="{% url "inventory:category_list" %}">Categories</a></li>
<li><a href="{% url "inventory:source_list" %}">Sources</a></li>
<li><a href="{% url "inventory:item_list_current" %}">Item Current Prices</a></li>
<li><a href="{% url "inventory:item_list" %}">Item List</a></li>
<li><a href="{% url "inventory:item_search" %}">Item Search</a></li>
<li><a href="{% url "inventory:sourceitem_search" %}">Source Item Search</a></li>
<li><a href="{% url "inventory:unitsize_list" %}">Unit Sizes</a></li>
<li><a href="{% url "inventory:order_list" %}">Order List</a></li>
<li><a href="{% url "inventory:order_search" %}">Order Search</a></li>
<li><a href="{% url "inventory:orderlineitem_search" %}">Order Line Item Search</a></li>
<li><a href="{% url "meal_planning:homepage" %}">Meal Planning Homepage</a></li>
</ul>
{% endblock %}
