{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : {% if object.id %}Edit{% else %}New{% endif %} Item{% endblock %}

{% block content %}
{# TODO: Popup to create missing Category without leaving this page. #}
{# http://localhost:8000/static/admin/js/admin/RelatedObjectLookups.js #}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

{% if object.id %}
<div>
    <a href="{% url "inventory:item_detail" pk=object.id %}">Cancel</a>
</div>
{% endif %}
<div>
    <a href="{% url "inventory:item_list" %}">Cancel and go back to list</a>
</div>
{% endblock %}
