{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Item List{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:item_search" %}">Item Search</a></div>
{% endblock %}

{% block content %}
<form id="filter_form">
<label for="category_filter">Category Filter:</label>
<select id="category_filter" data-select-field="category">
<option {% if not category %}selected{% endif %} value="all">No Category Filter</option>
{% for category_obj in categories %}
    <option {% if category == category_obj.name or category_id == category_obj.id %}selected{% endif %} value="{{ category_obj.id }}">{{ category_obj.name }}</option>
{% endfor %}
</select>
</form>
<ul>
{% if is_paginated %}
{% for item in page_obj %}
    {% include "inventory/item_list_item.html" with item=item %}
{% endfor %}
{% else %}
{% for item in object_list %}
    {% include "inventory/item_list_item.html" with item=order %}
{% endfor %}
{% endif %}
</ul>
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="{% url "inventory:item_list" %}?page=1{% if category %}&category={{ category|urlencode }}{% endif %}">&laquo; first</a>
                <a href="{% url "inventory:item_list" %}?page={{ page_obj.previous_page_number }}{% if category %}&category={{ category|urlencode }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="{% url "inventory:item_list" %}?page={{ page_obj.next_page_number }}{% if category %}&category={{ category|urlencode }}{% endif %}">next</a>
                <a href="{% url "inventory:item_list" %}?page={{ page_obj.paginator.num_pages }}{% if category %}&category={{ category|urlencode }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
<ul>
<li><a href="{% url "inventory:item_create" %}">New Item</a></li>
<li><a href="{% url "inventory:item_search" %}">Search Item</a></li>
<li><a href="{% url "inventory:homepage" %}">Inventory Homepage</a></li>
</ul>
{% endblock %}

{% block body_scripts %}
<script>
function category_filter_change(event) {
    let value = event.target.value;
    let text = event.target.options[event.target.selectedIndex].text;
    url = `{% url "inventory:item_list" %}?category_id=${value}&category_name=${encodeURIComponent(text)}`;
    window.location.assign(url);
}
function list_get_search_elements() {
    const form = document.getElementById("filter_form");
    return form.querySelectorAll("[data-select-field]");
}
function list_setup_events() {
    const element = document.getElementById("category_filter");
    element.addEventListener('change', (event) => {
        category_filter_change(event);
    });
}
(function() {
    // onload based on https://stackoverflow.com/a/9899701
    list_setup_events();
})();
</script>
{% endblock %}