{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Inventory : Item{% endblock %}

{% block content %}
<div>Name: {{ object.name }}</div>
<div>Description: {{ object.description }}</div>
<div>Category: {{ object.category }}</div>
<div>
<div>
    Between {{ totals.start_date }} and {{ totals.end_date }}, there were {{ totals.orders }} orders totalling ${{ totals.extended_price|floatformat:2|intcomma }}.
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url "inventory:order_detail" pk=order.order_id %}">{{ order.delivered_date }}, {{ order.quantity_delivered }}, {{ order.unit_amount }} {{ order.unit_size.unit }}, ${{ order.extended_price|floatformat:2|intcomma }}</a>,
                <a href="{% url "inventory:sourceitem_detail" pk=order.id %}">{{ order.cryptic_name }}</a></li>
        {% endfor %}
    </ul>
</div>
Source Items:
<ul>
    {% for si in object.source_items.all.distinct %}
        <li><a href="{% url "inventory:sourceitem_detail" pk=si.pk %}">{{ si }}</a></li>
    {% endfor %}
</ul>
</div>
<ul>
    <li><a href="{% url "inventory:item_update" pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "inventory:item_delete" pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "inventory:item_list" %}">Item List</a></li>
    <li><a href="{% url "inventory:item_search" %}">Item Search</a></li>
</ul>
{% endblock %}
