{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : New Order with items{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.management_form }}
    {{ form.non_form_errors }}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
    {% endfor %}
    <table id="formset-table">
        <thead>
            <tr>
                <th>{{ form.empty_form.DELETE.label }}</th>
                <th>{{ form.empty_form.line_item_number.label }}</th>
                <th>{{ form.empty_form.source_item.label }}</th>
                <th>{{ form.empty_form.quantity_ordered.label }}</th>
                <th>{{ form.empty_form.quantity_delivered.label }}</th>
                <th>{{ form.empty_form.remote_stock.label }}</th>
                <th>{{ form.empty_form.expect_backorder_delivery.label }}</th>
                <th>{{ form.empty_form.per_pack_price.label }}</th>
                <th>{{ form.empty_form.extended_price.label }}</th>
                <th>{{ form.empty_form.tax.label }}</th>
                <th>{{ form.empty_form.per_weight_price.label }}</th>
                <th>{{ form.empty_form.per_pack_weights.label }}</th>
                <th>{{ form.empty_form.total_weight.label }}</th>
                <th>{{ form.empty_form.notes.label }}</th>
                <th>{{ form.empty_form.damaged.label }}</th>
                <th>{{ form.empty_form.rejected.label }}</th>
                <th>{{ form.empty_form.rejected_reason.label }}</th>
            </tr>
        </thead>
        <tbody id="formset-table-body">
        <tr class='form-row' id='empty-form' style="display:none;">
            {{ form.empty_form.as_table }}
        </tr>
        {% for line_item_form in form.forms %}
            <tr>
                {{ line_item_form.as_table }}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Save">
</form>
<div>
    <a href="{% url "inventory:order_list" %}">Back to orders</a>
</div>
{% endblock %}
