{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Inventory : Order Line Item{% endblock %}

{% block content %}
<div>order: {{ object.order }}</div>
<div>source_item: {{ object.source_item }}</div>
<div>line_item_number: {{ object.line_item_number }}</div>
<div>quantity_ordered: {{ object.quantity_ordered }}</div>
<div>quantity_delivered: {{ object.quantity_delivered }}</div>
<div>remote_stock: {{ object.remote_stock }}</div>
<div>expect_backorder_delivery: {{ object.expect_backorder_delivery }}</div>
<div>per_pack_price: {{ object.per_pack_price|floatformat:2|intcomma }}</div>
<div>extended_price: {{ object.extended_price|floatformat:2|intcomma }}</div>
<div>tax: {{ object.tax|floatformat:2|intcomma }}</div>
<div>per_weight_price: {{ object.per_weight_price|floatformat:2|intcomma }}</div>
<div>per_pack_weights: {{ object.per_pack_weights }}</div>
<div>total_weight: {{ object.total_weight }}</div>
<div>notes: {{ object.notes }}</div>
<div>damaged: {{ object.damaged }}</div>
<div>rejected: {{ object.rejected }}</div>
<div>rejected_reason: {{ object.rejected_reason }}</div>
<ul>
    <li><a href="{% url "inventory:orderlineitem_update" order_pk=object.order.pk pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "inventory:orderlineitem_delete" order_pk=object.order.pk pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "inventory:order_detail" pk=object.order.pk %}">Order</a></li>
</ul>
{% endblock %}
