{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : {% if object.id %}Edit{% else %}New{% endif %} Order Line Item{% endblock %}

{% block styles %}
    <!-- hi -->
{{ form.media.css }}
{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:order_search" %}">Order Search</a></div>
    |
    <div><a href="{% url "inventory:order_detail" pk=order_pk %}">Order</a></div>
{% endblock %}

{% block content %}
{# TODO: OrderLineItemCreateView http://localhost:8000/inventory/order/5713/lineitem/testnew #}
<form method="post" id="order-line-item-create-form">
    {% csrf_token %}
    {% for field in form %}
        <div class="custom-field-wrapper">
            {% if not field.is_hidden %}
                {{ field.label_tag }}
            {% endif %}
            {{ field }}
            {% if field.id_for_label == "id_source_item" %}
                <a class="my-pop-up" href="{% url "inventory:sourceitem_create" %}"
                   data-control="{{ field.id_for_label }}" data-refresh-url="{% url "inventory:api_sourceitem" %}?source={{ source_pk }}"
                   data-refresh-visible-fn="format_source_item">
                    <img src="{% static "admin/img/icon-addlink.svg" %}" alt="" width="18" height="18">
                </a>
            {% endif %}
            {% if field.help_text %}
                <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
                <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="Save">
    <input type="submit" value="Save and add another" name="save_and_add_another">
</form>

{% if object.id %}
<div>
    <a href="{% url "inventory:orderlineitem_detail" order_pk=order_pk pk=object.id %}">Cancel</a>
</div>
{% endif %}
<div>
    <a href="{% url "inventory:order_detail" pk=order_pk %}">Cancel and go back to order</a>
</div>
<div id="results_in_div" style="">
<div id="templates" style="display: none;">
    <div class="search_result" id="search_result_template_div">
        <a class="search_result_clicky">
            <span data-copy-to="x_id" data-field="id">__id__</span>
            <span data-copy-to="x_source" data-field="source">__source__</span>
            <span data-copy-to="x_item_category" data-field="item_category">__item_category__</span>
            <span data-copy-to="x_item_description" data-field="item_description">__item_description__</span>
            <span data-copy-to="x_item_name" data-field="item_name">__item_name__</span>
            <span data-copy-to="x_brand" data-field="brand">__brand__</span>
            <span data-copy-to="x_source_category" data-field="source_category">__source_category__</span>
            <span data-copy-to="x_unit_size_unit" data-field="unit_size_unit">__unit_size_unit__</span>
            <span data-copy-to="x_unit_amount" data-field="unit_amount">__unit_amount__</span>
            <span data-copy-to="x_unit_amount_text" data-field="unit_amount_text">__unit_amount_text__</span>
            <span data-copy-to="x_subunit_size_unit" data-field="subunit_size_unit">__subunit_size_unit__</span>
            <span data-copy-to="x_subunit_amount" data-field="subunit_amount">__subunit_amount__</span>
            <span data-copy-to="x_subunit_amount_text" data-field="subunit_amount_text">__subunit_amount_text__</span>
            <span data-copy-to="x_active" data-field="active">__active__</span>
            <span data-copy-to="x_quantity" data-field="quantity">__quantity__</span>
            <span data-copy-to="x_allow_split_pack" data-field="allow_split_pack">__allow_split_pack__</span>
            <span data-copy-to="x_cryptic_name" data-field="cryptic_name">__cryptic_name__</span>
            <span data-copy-to="x_expanded_name" data-field="expanded_name">__expanded_name__</span>
            <span data-copy-to="x_common_name" data-field="common_name">__common_name__</span>
            <span data-copy-to="x_item_number" data-field="item_number">__item_number__</span>
            <span data-copy-to="x_extra_number" data-field="extra_number">__extra_number__</span>
        </a>
    </div>
    <div id="search_no_result_template_div">
        Nope.
    </div>
</div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{% static "js/not_jquery.js" %}"></script>
<script src="{% static "js/popup_create.js" %}"></script>
{{ form.media.js }}
<script>
// `ready(...)` is in not_jquery.js and is a replacement for jQuery's `$(document).ready(...)`.
ready(popup_create_setup);

srch_form_id = "order-line-item-create-form";
srch_url = "{% url "inventory:api_sourceitem" %}";
result_style_ids = {
    "div": {
        // "container": "results_in_div",  // TODO: result_style_ids["div"]["container"] Does not appear used.
        "results": "search_results_div",  // TODO: this is set as "{{ widget.attrs.id }}-search-results-div"
        "template": "search_result_template_div",  // static - assuming only one type of search is done on the page.
        "no_results_template": "search_no_result_template_div",  // also static.
    },
}
active_result_styles = ["div"];

popup_properties = "height=500,width=800,resizable=yes,scrollbars=yes";
function format_source_item(e) {
    let formatted = "";
    if (e["expanded_name"] !== "") {
        formatted += e["expanded_name"];
    } else {
        formatted += e["cryptic_name"];
    }
    formatted += ` ${e["quantity"]}x ${e["unit_size_amount"]}`;
    if (e["unit_size_unit"] === "subunit") {
        formatted += `ct ${e["subunit_size_amount"]}${e["subunit_size_unit"]}`;
    } else {
        formatted += e["unit_size_unit"];
    }
    return formatted;
}
</script>
{% endblock %}
