{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Order Line Item Search{% endblock %}

{% block styles %}
<style>
.orders-container {
    width: 100%;
}
.orders-row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "order-date order-info order-name order-weight order-quantity order-unit order-per-price order-price order-per-use-price";
}
.order-cell {
    border-bottom: black 1px solid;
}
.hidden-cell {
    display: none;
}

.flex-container {
    display: flex;
    width: 100%;
    border: red solid 1px;
    flex-wrap: wrap;
}
.flex-container div {
    border: blue solid 1px;
}
.flex-small {
    flex: 1 1 100px;
}
.flex-normal {
    flex: 3 1 100px;
}
.flex-wide {
    flex: 5 1 100px;
}

</style>
{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:order_search" %}">Order Search</a></div>
{% endblock %}

{% block content %}
<form id="search_form">
<div>
<label for="search_category">Category:</label>
<input type="text" id="search_category" data-search-field="category" placeholder="category">
</div>
<div>
<label for="search_unit">Unit:</label>
<input type="text" id="search_unit" data-search-field="unit" placeholder="unit: 1lb, #10">
</div>
<div>
<label for="search_name">Name:</label>
<input type="text" id="search_name" data-search-field="name" placeholder="name">
</div>
<div>
<label for="search_name2">Second Name:</label>
<input type="text" id="search_name2" data-search-field="name" placeholder="name">
</div>
<div>
<label for="search_exclude_name">Exclude Name:</label>
<input type="text" id="search_exclude_name" data-search-field="-name" placeholder="exclude name">
</div>
<div>
<label for="search_exclude_name2">Second Exclude Name:</label>
<input type="text" id="search_exclude_name2" data-search-field="-name" placeholder="exclude name">
</div>
<div>
<label for="search_code">Code:</label>
<input type="text" id="search_code" data-search-field="code" placeholder="code">
</div>
<div>
<label for="search_order_number">Order number:</label>
<input type="text" id="search_order_number" data-search-field="order_number" placeholder="order number">
</div>
<div>
    How to search a loose "when"?  As in, "last month", "July", or "specific date +/- a day or 3".
</div>
</form>

<div id="results_in_div">
<hr />
<div id="templates" style="display: none;">
    <div id="search_result_template_flex" class="flex-container">
        <div class="hidden-cell">
            <span data-field="id">__id__</span>
        </div>
        <div class="order-cell order-date flex-small">
            <span data-field="delivered_date">__delivered_date__</span>
        </div>
        <div class="order-cell order-info flex-normal">
            <span data-field="source">__source__</span>
            <a href="" data-href-fn="get_order_url" data-href-arg-order="order_id">
            <span data-field="order_number">__order_number__</span>
            </a>
            <a href="" data-href-fn="get_orderlineitem_url" data-href-arg-line-item="id" data-href-arg-order="order_id">
            <span data-field="line_item_number">__line_item_number__</span>
            </a>
        </div>
        <div class="order-cell order-name flex-wide">
            <div>
                <span data-field="source_item_name">__source_item_name__</span>
            </div>
            <div>
                <span data-field="category">__category__</span>:
                <span data-field="item_number">__item_number__</span>:
                <span data-field="extra_number">__extra_number__</span>
            </div>
        </div>
        <div class="order-cell order-weight flex-small">
            <span data-field="total_weight">__total_weight__</span>
        </div>
        <div class="order-cell order-quantity flex-small">
            <span data-field="quantity_delivered">__quantity_delivered__</span>
        </div>
        <div class="order-cell order-unit flex-small">
            <span data-field="unit_amount">__unit_amount__</span>
            <span data-field="unit_amount_text">__unit_amount_text__</span>
            <span data-field="unit_size">__unit_size__</span>
            <span data-field="subunit_amount">__subunit_amount__</span>
            <span data-field="subunit_amount_text">__subunit_amount_text__</span>
            <span data-field="subunit_size">__subunit_size__</span>
        </div>
        <div class="order-cell order-per-price flex-small">
            <div data-field="per_pack_price">__per_pack_price__</div>
            <div data-field="per_weight_price">__per_weight_price__</div>
        </div>
        <div class="order-cell order-price flex-small">
            <div data-field="tax">__tax__</div>
            <div data-field="extended_price">__extended_price__</div>
        </div>
        <div class="order-cell order-per-use-price flex-small">
            <span data-field="per_unit_price">__per_unit_price__</span>
        </div>
    </div>
    <div id="search_result_template_div" class="orders-row">
        <div class="hidden-cell">
            <span data-field="id">__id__</span>
        </div>
        <div class="order-cell order-date">
            <span data-field="delivered_date">__delivered_date__</span>
        </div>
        <div class="order-cell order-info">
            <span data-field="source">__source__</span>
            <a href="" data-href-fn="get_order_url" data-href-arg-order="order_id">
            <span data-field="order_number">__order_number__</span>
            </a>
            <a href="" data-href-fn="get_orderlineitem_url" data-href-arg-line-item="id" data-href-arg-order="order_id">
            <span data-field="line_item_number">__line_item_number__</span>
            </a>
        </div>
        <div class="order-cell order-name">
            <div>
                <span data-field="source_item_name">__source_item_name__</span>
            </div>
            <div>
                <span data-field="category">__category__</span>:
                <span data-field="item_number">__item_number__</span>:
                <span data-field="extra_number">__extra_number__</span>
            </div>
        </div>
        <div class="order-cell order-weight">
            <span data-field="total_weight">__total_weight__</span>
        </div>
        <div class="order-cell order-quantity">
            <span data-field="quantity_delivered">__quantity_delivered__</span>
        </div>
        <div class="order-cell order-unit">
            <span data-field="unit_amount">__unit_amount__</span>
            <span data-field="unit_amount_text">__unit_amount_text__</span>
            <span data-field="unit_size">__unit_size__</span>
            <span data-field="subunit_amount">__subunit_amount__</span>
            <span data-field="subunit_amount_text">__subunit_amount_text__</span>
            <span data-field="subunit_size">__subunit_size__</span>
        </div>
        <div class="order-cell order-per-price">
            <span data-field="per_pack_price">__per_pack_price__</span>
            <span data-field="per_weight_price">__per_weight_price__</span>
        </div>
        <div class="order-cell order-price">
            <span data-field="tax">__tax__</span>
            <span data-field="extended_price">__extended_price__</span>
        </div>
        <div class="order-cell order-per-use-price">
            <span data-field="per_unit_price">__per_unit_price__</span>
        </div>
    </div>
    <div id="search_no_result_template_div">
        Nope.
    </div>
</div>
<div class="flex-container">
    <div class="order-cell order-date flex-small">
        <span>delivered date</span>
    </div>
    <div class="order-cell order-info flex-normal">
        <span>source</span>
        <span>order number</span>
        <span>line item number</span>
    </div>
    <div class="order-cell order-name flex-wide">
        <div>
            <span>source item name</span>
        </div>
        <div>
            <span>category</span>:
            <span>item number</span>:
            <span>extra number</span>
        </div>
    </div>
    <div class="order-cell order-weight flex-small">
        <span>total weight</span>
    </div>
    <div class="order-cell order-quantity flex-small">
        <span>quantity delivered</span>
    </div>
    <div class="order-cell order-unit flex-small">
        <span>unit amount</span>
        <span>unit amount text</span>
        <span>unit size</span>
        <span>subunit amount</span>
        <span>subunit amount text</span>
        <span>subunit size</span>
    </div>
    <div class="order-cell order-per-price flex-small">
        <div>per pack price</div>
        <div>per weight price</div>
    </div>
    <div class="order-cell order-price flex-small">
        <div>tax</div>
        <div>extended price</div>
    </div>
    <div class="order-cell order-per-use-price flex-small">
        <span>per unit price</span>
    </div>
</div>

<div class="orders-row hidden-cell">
    <div class="order-cell order-date">
        Delivered Date
    </div>
    <div class="order-cell order-info">
        Source/Order Info
    </div>
    <div class="order-cell order-name">
        Item Name
    </div>
    <div class="order-cell order-weight">
        Total Weight
    </div>
    <div class="order-cell order-quantity">
        Qty
    </div>
    <div class="order-cell order-unit">
        Pack/Unit Details
    </div>
    <div class="order-cell order-per-price">
        Pack Cost
    </div>
    <div class="order-cell order-price">
        Extended Cost
    </div>
    <div class="order-cell order-per-use-price">
        Per Use Cost
    </div>
</div>
<div id="search_results_div" class="orders-container">

</div>
</div>
<hr />
<ul>
<li><a href="{% url "inventory:order_create" %}">New Order</a></li>
<li><a href="{% url "inventory:homepage" %}">Inventory Homepage</a></li>
</ul>
{% endblock %}

{% block body_scripts %}
<script src="{% static "js/search.js" %}"></script>
<script>
function get_order_url(href_args) {
    let order_id = href_args["order"];
    let some_url = "{% url "inventory:order_detail" pk="8888" %}";
    return some_url.replace("8888", `${order_id}`);
}
function get_orderlineitem_url(order_and_lineitem_id) {
    let order_id = order_and_lineitem_id["order"];
    let orderlineitem_id = order_and_lineitem_id["line-item"];
    let some_url = "{% url "inventory:orderlineitem_detail" order_pk="8888" pk="9999" %}";
    return some_url.replace("9999", `${orderlineitem_id}`).replace("8888", `${order_id}`);
}

srch_url = "{% url "inventory:api_orderlineitem" %}";
active_result_styles = ["div"];
result_style_ids = {
    "div": {
        "container": "results_in_div",
        "results": "search_results_div",
        {#"template": "search_result_template_div",#}
        "template": "search_result_template_flex",
        "no_results_template": "search_no_result_template_div",
    },
}
</script>

{% endblock %}