{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Inventory : {% if object.id %}Edit{% else %}New{% endif %} Order Line Item{% endblock %}

{% block styles %}
{{ form.media.css }}
{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:order_search" %}">Order Search</a></div>
    |
    <div><a href="{% url "inventory:order_detail" pk=order_pk %}">Order</a></div>
{% endblock %}

{% block content %}
<form method="post" id="order-line-item-create-form">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <input type="hidden" id="search-source-pk" data-search-field="source" value="{{ source_pk }}">
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="custom-field-wrapper">
            {% if not field.is_hidden %}
                {{ field.label_tag }}
            {% endif %}
            {% if field.id_for_label == "id_source_item" %}
                {{ field|attr:"data-search-template-id:search_result_template_div"|attr:"data-search-no-results-template-id:search_no_result_template_div"|attr:"data-selected-template-id:selected_template_div" }}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.id_for_label == "id_source_item" %}
                <a class="my-pop-up" href="{% url "inventory:sourceitem_create" %}?source_pk={{ source_pk }}"
                   data-control="{{ field.id_for_label }}" data-refresh-url="{% url "inventory:api_sourceitem" %}?source={{ source_pk }}"
                   data-refresh-visible-fn="format_source_item">
                    <img src="{% static "admin/img/icon-addlink.svg" %}" alt="" width="18" height="18">
                </a>
            {% endif %}
            {% if field.help_text %}
                <span class="helptext" id="{{ field.id_for_label }}_helptext">{{ field.help_text }}</span>
            {% endif %}
            {% for error in field.errors %}
                <span class="error-message">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <input type="submit" value="Save and add another" name="save_and_add_another">
    <input type="submit" value="Save">
</form>

{% if object.id %}
<div>
    <a href="{% url "inventory:orderlineitem_detail" order_pk=order_pk pk=object.id %}">Cancel</a>
</div>
{% endif %}
<div>
    <a href="{% url "inventory:order_detail" pk=order_pk %}">Cancel and go back to order</a>
</div>
<div id="results_in_div" style="">
<div id="templates" style="display: none;">
    <div class="search_result" id="search_result_template_div">
        <a class="search_result_clicky">
            <span data-field="last_delivered_date">__last_delivered_date__</span>
            | <span data-copy-to="id_source_item" data-field="id" style="display: none;">__id__</span>
            | <span data-field="source" style="display: none;">__source__</span>
            | <span data-field="item_category">__item_category__</span>
            | <span data-field="item_description" style="display: none;">__item_description__</span>
            | <span data-field="item_name">__item_name__</span>
            | <span data-field="brand" style="display: none;">__brand__</span>
            | <span data-field="source_category" style="display: none;">__source_category__</span>
            | <span data-field="unit_size_unit">__unit_size_unit__</span>
            | <span data-field="unit_amount">__unit_amount__</span>
            | <span data-field="unit_amount_text">__unit_amount_text__</span>
            | <span data-field="subunit_size_unit">__subunit_size_unit__</span>
            | <span data-field="subunit_amount">__subunit_amount__</span>
            | <span data-field="subunit_amount_text">__subunit_amount_text__</span>
            | <span data-field="active">__active__</span>
            | <span data-field="quantity">__quantity__</span>
            | <span data-field="allow_split_pack">__allow_split_pack__</span>
            | <span data-field="cryptic_name">__cryptic_name__</span>
            | <span data-field="expanded_name">__expanded_name__</span>
            | <span data-field="common_name">__common_name__</span>
            | <span data-field="item_number">__item_number__</span>
            | <span data-field="extra_number">__extra_number__</span>
        </a>
    </div>
    <div id="search_no_result_template_div">
        Nope.
    </div>
    <div id="selected_template_div">
        <span data-id="item_number">{{ source_item.item_number }}</span>
        /
        <span data-id="extra_number">{{ source_item.extra_number }}</span>
        |
        <span data-id="item_name">{{ source_item.item_name }}</span>
        |
        <span data-id="unit_amount">{{ source_item.unit_amount }}</span>
        <span data-id="unit_amount_text">{{ source_item.unit_amount_text }}</span>
        <span data-id="unit_size_unit">{{ source_item.unit_size_unit }}</span>
        |
        <span data-id="subunit_amount">{{ source_item.subunit_amount }}</span>
        <span data-id="subunit_amount_text">{{ source_item.subunit_amount_text }}</span>
        <span data-id="subunit_size_unit">{{ source_item.subunit_size_unit }}</span>
        |
        <span data-id="cryptic_name">{{ source_item.cryptic_name }}</span>
        ,
        <span data-id="expanded_name">{{ source_item.expanded_name }}</span>
        ,
        <span data-id="common_name">{{ source_item.common_name }}</span>
    </div>
</div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{% static "js/not_jquery.js" %}"></script>
<script src="{% static "js/popup_create.js" %}"></script>
{{ form.media.js }}
<script>
srch_form_id = "order-line-item-create-form";
srch_url = "{% url "inventory:api_sourceitem" %}";
srch_order_by = "by_last_delivered_date";

popup_properties = "height=500,width=800,resizable=yes,scrollbars=yes";
function format_source_item(e) {
    let formatted = "";
    if (e["expanded_name"] !== "") {
        formatted += e["expanded_name"];
    } else {
        formatted += e["cryptic_name"];
    }
    formatted += ` ${e["quantity"]}x ${e["unit_size_amount"]}`;
    if (e["unit_size_unit"] === "subunit") {
        formatted += `ct ${e["subunit_size_amount"]}${e["subunit_size_unit"]}`;
    } else {
        formatted += e["unit_size_unit"];
    }
    return formatted;
}
ready(() => {
    getNextTabStop(document.getElementById("order-line-item-create-form")).focus();
})
</script>
{% endblock %}
