{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Inventory : Order{% endblock %}

{% block content %}
<div>source: {{ object.source }}</div>
<div>delivered date: {{ object.delivered_date }}</div>
<div>order number: {{ object.order_number }}</div>
<div>po text: {{ object.po_text }}</div>
<div>notes: {{ object.notes }}</div>
<div>
items:
<table>
<thead>
<tr>
    <th>Item</th>
    <th>#</th>
    <th>quantity</th>
    <th style="display: none;">remote stock</th>
    <th style="display: none;">expect backorder</th>
    <th>per pack $</th>
    <th>extended $</th>
    <th>$ per weight</th>
    <th>pack weights</th>
    <th>total weight</th>
    <th>notes</th>
    <th style="display: none;">damaged</th>
    <th style="display: none;">rejected</th>
    <th style="display: none;">rejected reason</th>
</tr>
</thead>
<tbody>
    {% for item in order.line_items.all %}
        <tr>
            <td><a href="{% url "inventory:sourceitem_detail" pk=item.source_item.pk %}">{{ item.source_item }}</a></td>
            <td><span style="display: none;">{{ item.id }}</span><a href="{% url "inventory:orderlineitem_detail" order_pk=order.id pk=item.id %}">{{ item.line_item_number }}</a></td>
            <td>
                {% if item.quantity_ordered == item.quantity_delivered %}
                    {{ item.quantity_delivered }}
                {% else %}
                    {{ item.quantity_delivered }} of {{ item.quantity_ordered }}
                {% endif %}
            </td>
            <td style="display: none;">{{ item.remote_stock }}</td>
            <td style="display: none;">{{ item.expect_backorder_delivery }}</td>
            <td>{{ item.per_pack_price|floatformat:2|intcomma }}</td>
            <td>{{ item.extended_price|floatformat:2|intcomma }}</td>
            <td>{{ item.per_weight_price|floatformat:2|intcomma }}</td>
            <td>{{ item.per_pack_weights }}</td>
            <td>{{ item.total_weight }}</td>
            <td>{{ item.notes }}</td>
            <td style="display: none;">{{ item.damaged }}</td>
            <td style="display: none;">{{ item.rejected }}</td>
            <td style="display: none;">{{ item.rejected_reason }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
<ul>
    <li><a href="{% url "inventory:orderlineitem_formset" order_pk=object.pk %}">Edit line items</a></li>
    <li><a href="{% url "inventory:orderlineitem_create" order_pk=object.pk %}">Add line item</a></li>
    <li><a href="{% url "inventory:order_update" pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "inventory:order_delete" pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "inventory:order_search" %}">Order Search</a></li>
</ul>
{% endblock %}
