{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Source Item Search{% endblock %}

{% block content %}
<form id="search_form">
<div>
<label for="search_category">Category:</label>
<input type="text" id="search_category" data-search-field="category" placeholder="category">
</div>
<div>
<label for="search_unit">Unit:</label>
<input type="text" id="search_unit" data-search-field="unit" placeholder="unit: 1lb, #10">
</div>
<div>
<label for="search_name">Name:</label>
<input type="text" id="search_name" data-search-field="name" placeholder="name">
</div>
<div>
<label for="search_name2">Second Name:</label>
<input type="text" id="search_name2" data-search-field="name" placeholder="name">
</div>
<div>
<label for="search_exclude_name">Exclude Name:</label>
<input type="text" id="search_exclude_name" data-search-field="-name" placeholder="exclude name">
</div>
<div>
<label for="search_exclude_name2">Second Exclude Name:</label>
<input type="text" id="search_exclude_name2" data-search-field="-name" placeholder="exclude name">
</div>
<div>
<label for="search_code">Code:</label>
<input type="text" id="search_code" data-search-field="code" placeholder="code">
</div>
<div>
<label for="search_wider">Code:</label>
<input type="text" id="search_wider" data-search-field="wider_search" placeholder="name or code">
</div>
<div>
    <span>
    <input type="checkbox" id="result_style_selector_div" name="result_style_selector" value="div" checked="checked" />
    <label for="result_style_selector_div">Div</label>
    </span>
    <span>
    <input type="checkbox" id="result_style_selector_ul" name="result_style_selector" value="ul" />
    <label for="result_style_selector_ul">List</label>
    </span>
    <span>
    <input type="checkbox" id="result_style_selector_table" name="result_style_selector" value="table" />
    <label for="result_style_selector_table">Table</label>
    </span>
    <span>
    <input type="checkbox" id="result_style_selector_table_multiline" name="result_style_selector" value="table-multiline" />
    <label for="result_style_selector_table_multiline">Multiline Table</label>
    </span>
</div>
</form>
<div id="results_in_table_multiline" style="display: none;">
<hr />
Results in a table with multi-line rows.
<table style="display: none;">
<tbody>
    <tr id="search_no_result_template_tablerow_ml">
        <td colspan="*">No results</td>
    </tr>
    <tr id="search_result_template_tablerow_ml">
        <td data-field="id">__id__</td>
        <td data-field="source">__source__</td>
        <td data-field="item_category">__item_category__</td>
        <td data-field="item_description">__item_description__</td>
        <td data-field="item_name">__item_name__</td>
        <td data-field="brand">__brand__</td>
        <td data-field="source_category">__source_category__</td>
        <td data-field="unit_size_unit">__unit_size_unit__</td>
        <td data-field="unit_amount">__unit_amount__</td>
        <td data-field="unit_amount_text">__unit_amount_text__</td>
    </tr>
    <tr id="search_result_template_tablerow_ml2">
        <td data-field="subunit_size_unit">__subunit_size_unit__</td>
        <td data-field="subunit_amount">__subunit_amount__</td>
        <td data-field="subunit_amount_text">__subunit_amount_text__</td>
        <td data-field="active">__active__</td>
        <td data-field="quantity">__quantity__</td>
        <td data-field="allow_split_pack">__allow_split_pack__</td>
        <td data-field="cryptic_name">__cryptic_name__</td>
        <td data-field="expanded_name">__expanded_name__</td>
        <td data-field="common_name">__common_name__</td>
        <td data-field="item_number">__item_number__</td>
        <td data-field="extra_number">__extra_number__</td>
    </tr>
</tbody>
</table>
<table>
<thead>
    <tr>
        <th>id</th>
        <th>source</th>
        <th>item category</th>
        <th>item description</th>
        <th>item name</th>
        <th>brand</th>
        <th>source category</th>
        <th>unit size unit</th>
        <th>unit amount</th>
        <th>unit amount text</th>
    </tr>
    <tr>
        <th>subunit size unit</th>
        <th>subunit amount</th>
        <th>subunit amount text</th>
        <th>active</th>
        <th>quantity</th>
        <th>allow split pack</th>
        <th>cryptic name</th>
        <th>expanded name</th>
        <th>common name</th>
        <th>item number</th>
        <th>extra number</th>
    </tr>
</thead>
<tbody id="search_results_table_ml">
</tbody>
</table>

</div>
<div id="results_in_table" style="display: none;">
<hr />
Results in a table
<table style="display: none;">
<tbody>
    <tr id="search_no_result_template_tablerow">
        <td colspan="*">No results</td>
    </tr>
    <tr id="search_result_template_tablerow">
        <td data-field="id">__id__</td>
        <td data-field="source">__source__</td>
        <td data-field="item_category">__item_category__</td>
        <td data-field="item_description">__item_description__</td>
        <td data-field="item_name">__item_name__</td>
        <td data-field="brand">__brand__</td>
        <td data-field="source_category">__source_category__</td>
        <td data-field="unit_size_unit">__unit_size_unit__</td>
        <td data-field="unit_amount">__unit_amount__</td>
        <td data-field="unit_amount_text">__unit_amount_text__</td>
        <td data-field="subunit_size_unit">__subunit_size_unit__</td>
        <td data-field="subunit_amount">__subunit_amount__</td>
        <td data-field="subunit_amount_text">__subunit_amount_text__</td>
        <td data-field="active">__active__</td>
        <td data-field="quantity">__quantity__</td>
        <td data-field="allow_split_pack">__allow_split_pack__</td>
        <td data-field="cryptic_name">__cryptic_name__</td>
        <td data-field="expanded_name">__expanded_name__</td>
        <td data-field="common_name">__common_name__</td>
        <td data-field="item_number">__item_number__</td>
        <td data-field="extra_number">__extra_number__</td>
    </tr>
</tbody>
</table>
<table>
<thead>
    <tr>
        <th>id</th>
        <th>source</th>
        <th>item category</th>
        <th>item description</th>
        <th>item name</th>
        <th>brand</th>
        <th>source category</th>
        <th>unit size unit</th>
        <th>unit amount</th>
        <th>unit amount text</th>
        <th>subunit size unit</th>
        <th>subunit amount</th>
        <th>subunit amount text</th>
        <th>active</th>
        <th>quantity</th>
        <th>allow split pack</th>
        <th>cryptic name</th>
        <th>expanded name</th>
        <th>common name</th>
        <th>item number</th>
        <th>extra number</th>
    </tr>
</thead>
<tbody id="search_results_table">
</tbody>
</table>
</div>
<div id="results_in_ul" style="display: none;">
<hr />
Results in a ul.
<ul>
<li id="search_result_template_ul" style="display: none;">
    <span data-field="id">__id__</span>
    <span data-field="source">__source__</span>
    <span data-field="item_category">__item_category__</span>
    <span data-field="item_description">__item_description__</span>
    <span data-field="item_name">__item_name__</span>
    <span data-field="brand">__brand__</span>
    <span data-field="source_category">__source_category__</span>
    <span data-field="unit_size_unit">__unit_size_unit__</span>
    <span data-field="unit_amount">__unit_amount__</span>
    <span data-field="unit_amount_text">__unit_amount_text__</span>
    <span data-field="subunit_size_unit">__subunit_size_unit__</span>
    <span data-field="subunit_amount">__subunit_amount__</span>
    <span data-field="subunit_amount_text">__subunit_amount_text__</span>
    <span data-field="active">__active__</span>
    <span data-field="quantity">__quantity__</span>
    <span data-field="allow_split_pack">__allow_split_pack__</span>
    <span data-field="cryptic_name">__cryptic_name__</span>
    <span data-field="expanded_name">__expanded_name__</span>
    <span data-field="common_name">__common_name__</span>
    <span data-field="item_number">__item_number__</span>
    <span data-field="extra_number">__extra_number__</span>
</li>
<li id="search_no_result_template_ul" style="display: none;">
    Nope.
</li>
</ul>
<ul id="search_results_ul">

</ul>
</div>
<div id="results_in_div" style="display: none;">
<hr />
Results in divs
<div id="templates" style="display: none;">
    <div id="search_result_template_div">
        <a href="" data-href-fn=get_source_item_url>
        <span data-field="id">__id__</span>
        <span data-field="source">__source__</span>
        <span data-field="item_category">__item_category__</span>
        <span data-field="item_description">__item_description__</span>
        <span data-field="item_name">__item_name__</span>
        <span data-field="brand">__brand__</span>
        <span data-field="source_category">__source_category__</span>
        <span data-field="unit_size_unit">__unit_size_unit__</span>
        <span data-field="unit_amount">__unit_amount__</span>
        <span data-field="unit_amount_text">__unit_amount_text__</span>
        <span data-field="subunit_size_unit">__subunit_size_unit__</span>
        <span data-field="subunit_amount">__subunit_amount__</span>
        <span data-field="subunit_amount_text">__subunit_amount_text__</span>
        <span data-field="active">__active__</span>
        <span data-field="quantity">__quantity__</span>
        <span data-field="allow_split_pack">__allow_split_pack__</span>
        <span data-field="cryptic_name">__cryptic_name__</span>
        <span data-field="expanded_name">__expanded_name__</span>
        <span data-field="common_name">__common_name__</span>
        <span data-field="item_number">__item_number__</span>
        <span data-field="extra_number">__extra_number__</span>
        </a>
    </div>
    <div id="search_no_result_template_div">
        Nope.
    </div>
</div>
<div id="search_results_div">

</div>
</div>
<hr />
<ul>
<li><a href="{% url "inventory:sourceitem_create" %}">New Source Item</a></li>
<li><a href="{% url "inventory:homepage" %}">Inventory Homepage</a></li>
</ul>
{% endblock %}

{% block body_scripts %}
<script src="{% static "js/search.js" %}"></script>
<script>
function get_source_item_url(source_item_id) {
    let some_url = "{% url "inventory:sourceitem_detail" pk="9999" %}";
    return some_url.replace("9999", `${source_item_id}`);
}

srch_url = "{% url "inventory:api_sourceitem" %}";
possible_result_ids = {
    "div": {
        "container_id": "results_in_div",
        "result_element_id": "search_results_div",
        "template_id": "search_result_template_div",
        "no_results_template_id": "search_no_result_template_div",
    },
    "ul": {
        "container_id": "results_in_ul",
        "result_element_id": "search_results_ul",
        "template_id": "search_result_template_ul",
        "no_results_template_id": "search_no_result_template_ul",
    },
    "table": {
        "container_id": "results_in_table",
        "result_element_id": "search_results_table",
        "template_id": "search_result_template_tablerow",
        "no_results_template_id": "search_no_result_template_tablerow",
    },
    "table-multiline": {
        "container_id": "results_in_table_multiline",
        "result_element_id": "search_results_table_ml",
        "template_id": ["search_result_template_tablerow_ml", "search_result_template_tablerow_ml2"],
        "no_results_template_id": "search_no_result_template_table_ml",
    },
}
result_ids = [
]

function hide_all_results() {
    for (const result_style_key in possible_result_ids) {
        document.getElementById(possible_result_ids[result_style_key]["container_id"]).style.display = "none";
    }
}
function setup_events() {
    for (const element of document.querySelectorAll("[name=result_style_selector]")) {
        element.addEventListener('change', (event) => {
            update_result_style();
        });
    }
}
function update_result_style() {
    srch_remove_all_results();
    hide_all_results();
    result_ids = [];
    for (const element of document.querySelectorAll("[name=result_style_selector]")) {
        if (element.checked) {
            let _result_style = possible_result_ids[element.value];
            result_ids.push({..._result_style});
            document.getElementById(_result_style["container_id"]).style.display = "";
        }
    }
    srch_start_timer();
}

(function() {
    // onload based on https://stackoverflow.com/a/9899701
    setup_events();
    update_result_style();
})();
</script>

{% endblock %}