{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Source Item{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:sourceitem_search" %}">Search Source Item</a></div>
{% endblock %}

{% block content %}
<div>Source: {{ object.source }}</div>
<div>Status: {% if not object.active %}Discontinued{% else %}Should be available{% endif %}</div>
<div>item number: {{ object.item_number }}</div>
<div>extra number: {{ object.extra_number }}</div>
<div>cryptic name: {{ object.cryptic_name }}</div>
<div>expanded name: {{ object.expanded_name }}</div>
<div>common name: {{ object.common_name }}</div>
<div>item: <a href="{% url "inventory:item_detail" pk=object.item.id %}">{{ object.item }}</a></div>
<div>brand: {{ object.brand }}</div>
<div>source category: {{ object.source_category }}</div>
<div>category: {{ object.item.category }}</div>
<div>unit size: {{ object.unit_size }} / {{ object.unit_amount }} / {{ object.unit_amount_text }}</div>
<div>subunit size: {{ object.subunit_size }} / {{ object.subunit_amount }} / {{ object.subunit_amount_text }}</div>
<div>quantity: {{ object.quantity }}</div>
<div>allow split pack: {{ object.allow_split_pack }}</div>
<div>
    Between {{ totals.start_date }} and {{ totals.end_date }}, there were {{ totals.orders }} orders totalling ${{ totals.extended_price }}.
</div>
<ul>
{% for line_item in line_items %}
    <li>
        <a href="{% url "inventory:order_detail" pk=line_item.order.id %}">
            {{ line_item.order.delivered_date }}</a>, {{ line_item.quantity_delivered }} x
        ${{ line_item.per_pack_price }} = ${{ line_item.extended_price }}</li>
{% endfor %}
</ul>
<ul>
    <li><a href="{% url "inventory:sourceitem_update" pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "inventory:sourceitem_delete" pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "inventory:sourceitem_list" %}">Source Item List</a></li>
    <li><a href="{% url "inventory:sourceitem_search" %}">Source Item Search</a></li>
</ul>
{% endblock %}
