{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Source List{% endblock %}

{% block content %}
<ul>
{% for source in source_list %}
    <li><a style="{% if not source.active %}text-decoration: line-through{% endif %}" href="{% url "inventory:source_detail" pk=source.pk %}">{{ source.name }} - {{ source.customer_number }}</a></li>
{% endfor %}
</ul>
<ul>
<li><a href="{% url "inventory:source_create" %}">New Source</a></li>
<li><a href="{% url "inventory:homepage" %}">Inventory Homepage</a></li>
</ul>
{% endblock %}
