{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : {% if object.id %}Edit{% else %}New{% endif %} Unit Size{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

{% if object.id %}
<div>
    <a href="{% url "inventory:unitsize_detail" pk=object.id %}">Cancel</a>
</div>
{% endif %}
<div>
    <a href="{% url "inventory:unitsize_list" %}">Cancel and go back to list</a>
</div>
{% endblock %}
