{% extends "base.html" %}
{% load static %}

{% block title %}Inventory : Unit Size{% endblock %}

{% block breadcrumb %}
    <div><a href="{% url "inventory:unitsize_list" %}">Unit Size List</a></div>
{% endblock %}

{% block content %}
Unit Size: {{ object.unit }}
<ul>
    <li><a href="{% url "inventory:unitsize_update" pk=object.pk %}">Edit</a></li>
    <li><a href="{% url "inventory:unitsize_delete" pk=object.pk %}">Delete</a></li>
    <li><a href="{% url "inventory:unitsize_list" %}">Unit Size List</a></li>
</ul>
{% endblock %}
