{% extends "base.html" %}
{% load static %}

{% block title %}Delete Usage Group{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <p>Total affected inventory: ${{ total|default_if_none:"0.00" }}</p>
    {% if fist_date is None %}
        <p>No items for specific meals.</p>
    {% else %}
        <p>Affects meals from {{ first_date }} to {{ last_date }}</p>
    {% endif %}
    <input type="submit" value="Confirm">
</form>
<a href="{% url "usage:usage_group_detail" pk=object.id %}">Cancel</a>
{% endblock %}
