{% extends "market/base.html" %}
{% load static %}

{% block title %}Market : New Item{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

{% if item.id %}
<div>
    <a href="{% url "market:item_detail" pk=item.id %}">Cancel</a>
</div>
{% endif %}
<div>
    <a href="{% url "market:item_list" %}">Back to list</a>
</div>

{% endblock %}

{% block body_scripts %}
{% endblock %}