{% extends "market/base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Market : Order : Invoice{% endblock %}

{% block styles %}
<style>
:root {
    --main-bg-color: #C1ECFAFF;
    --main-text-color: #264459;
    --main-border-color: #264459;
}
.invoice-page {
    width: 100%;
}
@media only print {
    @page {
        size: portrait;
    }
    #main-content {
        overflow: hidden;
    }
    .invoice-page {
        font-size: 0.75rem;
    }
}
.invoice {
    width: 95%;
    margin-left: 3%;
    margin-right: 2%;
}
.invoice-header {
    padding: 1em;
}
.invoice-blue-header {
    color: var(--main-text-color);
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
}
.invoice-header-details {
    color: black;
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width-min), var(--column-width-max)));
    grid-template-areas: "left-block right-block";
}
.invoice-header-details .left-block {

}
.invoice-header-details .right-block {

}
.invoice-item-list {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-areas: "iil-date-col iil-description-col iil-balance-col iil-amount-col";
}
.invoice-item-list-header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: bold;
}
.iilh-header {
    border: var(--main-border-color) 1px solid;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: bold;
    padding: 0.5em;
}
.invoice-item-list-header :first-child {
    padding-top: 0.5em;
}
.iil-body {
    height: 25em;
    border-left: var(--main-border-color) 1px solid;
    border-right: var(--main-border-color) 1px solid;
}
.iili-list {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}
.iili-thank-you {
    height: 50%;
    align-items: center;
    display: flex;
}
.invoice-item-list-items .iili-list {
    border-left: var(--main-border-color) 1px solid;
    border-right: var(--main-border-color) 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.invoice-item-list-items .first-row .iili-list {
    padding-top: 0.5em;
}
.iili-amount {
    text-align: right;
}
.iili-discount {
    font-weight: bold;
}
.invoice-item-list-totals-header, .invoice-item-list-totals {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "iilh-current iilh-past-due-1-30-days iilh-past-due-31-60-days iilh-past-due-61-90-days iilh-past-due-91-plus-days iilh-amount-due";
}
.invoice-item-list-totals-header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: bold;
}
.invoice-item-list-totals-header .iilh-header, .invoice-item-list-totals .iilh-header {
    border: var(--main-border-color) 1px solid;
    padding: 0.5em;
}
.invoice-item-list-totals .iili-list {
    border-left: var(--main-border-color) 1px solid;
    border-right: var(--main-border-color) 1px solid;
    padding: 0.5em;
}
.invoice-item-list-totals {
    border-bottom: var(--main-border-color) 1px solid;
}

.invoice-remittance {
    color: black;
    font-size: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left-block right-block";
    align-items: stretch;
}
.invoice-remittance .left-block div {
    height: 100%;
    display: flex;
    align-items: center;
}
.invoice-remittance .invoice-remittance-header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: bold;
    border: var(--main-border-color) 1px solid;
    padding: 0.5em;
}
.remittance-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left-block right-block";
}
.remittance-row div {
    border: var(--main-border-color) 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;

}
.invoice-footer {
    text-align: center;
    padding-top: 2em;
}
.invoice-footer-thanks {
    color: blue;
}
@media only print {
    .noprint {
        display: none;
    }
    .invoice-footer {
        {# TODO: android printing puts the footer on page 2. #}
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .invoice-page {
        page-break-after: always;
    }
}
</style>
{% endblock %}

{% block content %}
<div class="invoice">
<div class="noprint">
    <a class="btn btn-primary" href="{% url "market:order_list" %}">Back to list</a>
</div>
<div class="invoice-page">
    {% include "market/printable_invoice_page.html" with copy="customer" %}
</div>
<div class="noprint">
    <a class="btn btn-primary" href="{% url "market:order_list" %}">Back to list</a>
</div>
<div class="invoice-page">
    {% include "market/printable_invoice_page.html" with copy="office" %}
</div>
<div class="noprint">
    <a class="btn btn-primary" href="{% url "market:order_list" %}">Back to list</a>
</div>
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}