{% extends "market/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Market : Order List{% endblock %}

{% block styles %}
<style>
.orders-header {
    font-weight: bold;
    background-color: lightgrey;
}
.orders-header, .orders-row {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr 2fr;
    grid-template-areas: "order-ordered-date order-made-date order-pickup-date order-paid-date order-who order-price order-controls";
}
.order-cell {
    border-bottom: black 1px solid;
}
.order-ordered-date, .order-price {
    text-align: right;
}
.order-price {
    padding-right: 1em;
}
.order-made-date, .order-pickup-date, .order-paid-date {
    text-align: center;
}
</style>
{% endblock %}

{% block content %}
<div class="orders-container">
<div class="orders-header">
{#    <div class="order-cell order-state">State</div>#}
    <div class="order-cell order-ordered-date">Expected Date</div>
    <div class="order-cell order-made-date">Made</div>
    <div class="order-cell order-pickup-date">Picked up</div>
    <div class="order-cell order-paid-date">Paid</div>
    <div class="order-cell order-price">Price</div>
    <div class="order-cell order-who">Who</div>
    <div class="order-cell order-controls"></div>
</div>
{% for order in order_list %}
<div class="orders-row">
{#    <div class="order-cell order-state">{{ order.state }}</div>#}
    <div class="order-cell order-ordered-date">{{ order.expected_date|date:"n/j/y" }}</div>
    <div class="order-cell order-made-date">{% if order.date_made %}&check;{% endif %}</div>
    <div class="order-cell order-pickup-date">{% if order.pickup_date %}&check;{% endif %}</div>
    <div class="order-cell order-paid-date">{% if order.date_paid %}&check;{% endif %}</div>
    <div class="order-cell order-price dollar-cell">{{ order.discounted_price|floatformat:2|intcomma }}</div>
    <div class="order-cell order-who">{{ order.who }}</div>
    <div class="order-cell order-controls">
        <a class="btn btn-success" href="{% url "market:order_detail" pk=order.pk %}">View/Change Order</a>
        <a class="btn btn-success" href="{% url "market:order_printable_invoice" pk=order.pk %}">Printable Invoice</a>
    </div>

</div>{% endfor %}
</div>
<div>
    {% if include_completed %}
    <a class="btn btn-warning" href="{% url "market:order_list" %}">Hide Completed Orders</a>
    {% else %}
    <a class="btn btn-warning" href="{% url "market:order_list" %}?completed=true">Show Completed Orders</a>
    {% endif %}
</div>
<div>
    <a class="btn btn-secondary" href="{% url "market:order_create" %}">Add Order</a>
</div>
{% endblock %}

{% block body_scripts %}
{% endblock %}