{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <title>{% block title %}Page title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "/css/base-formatting.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "/css/base-tables.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "/css/flex-list-formatting.css" %}" />

    {% block styles %}
    {% endblock %}

    {% block head_scripts %}
    {% endblock %}
</head>
<body>
<main>
        <div id="top-nav">
            <div>
                <form method="post" action="{% url "user:logout" %}">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </div>
            |
            <div>
                <a href="{% url "inventory:homepage" %}">Inventory</a>
            </div>
            |
            <div>
                <a href="{% url "meal_planning:homepage" %}">Meal Planning</a>
            </div>
            |
            <div>
                <a href="{% url "usage:homepage" %}">Usage</a>
            </div>
            |
            <div>
                <a href="{% url "market:homepage" %}">Market</a>
            </div>
            |
            {% block breadcrumb %}
            {% endblock %}
        </div>
        <div id="main-content" class="">
            {% block content %}
                {# main content #}
            {% endblock %}
        </div>
</main>
{% block body_scripts %}
{% endblock %}
</body>
</html>