{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <title>{% block title %}Page title{% endblock %}</title>

    {% block styles %}
    {% endblock %}

    {% block head_scripts %}
    {% endblock %}
</head>
<body>
<main>
        <div id="main-content" class="">
            {% block content %}
                {# main content #}
            {% endblock %}
        </div>
</main>
{% block body_scripts %}
{% endblock %}
</body>
</html>